body{
    margin:0;
    background:#f3f4f7;
    font-family:Arial;
}

.dashboard-container{
    padding:30px;
}

.contacts-card{

    margin-top:35px;
    background:white;
    padding:35px;
    border-radius:10px;
    box-shadow:0 2px 8px rgba(0,0,0,0.1);

}